<!DOCTYPE html>
<html>

<head>
    <title>something cherokee</title>
    <meta charset='utf8'>
    <script src='static/search.js'></script>
    <link rel='stylesheet' href='static/search.css'>
</head>

<body>
    <div id='search_container'>
        <div style='margin-bottom: 0.5em;'>
            English:
            <input id='en_search' type='text'>
        </div>
        <div style='margin-bottom: 0.5em;'>
            Cherokee:
            <input id='chr_search' type='text'>
        </div>
        <div id='search' class='button'>Search</div>
    </div>

    <div id='container'></div>
</body>

</html>